<!DOCTYPE html>
<html>
  <head>
    <title>Crypto News</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    Link 1 | link 2 | link 3 | link 4 | link 5
    <br/>
    
    <%= yield %>
  </body>
</html>
